<div>
  <label for="contact-name"></label>
  <input #name type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email"></label>
  <input #email type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone"></label>
  <input #phone type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image"></label>
  <input #image type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact(name, email, phone, image)">Submit New Contact</button>

<div *ngFor="let oneContact of contacts">
<h2>{{oneContact.name}}</h2>
<p>{{oneContact.email}}</p>
<p>{{oneContact.phoneNumber}}</p>
<img src="{{oneContact.image}}" alt="">
<br><hr>

</div>
